.mw-700 {
	max-width: 800px;
}

.mw-500 {
	max-width: 600px;
}

.mb-auto {
	margin-bottom: auto;
}

#final {
	padding: 45px 0px 15px 0px;
	text-align: center;
	color: #b9bbc6;
	font-size: 14px;
	width: 100%;
}

#final a {
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}

@media only screen and (max-device-width: 990px) {
	footer .link-list {
		display: block;
		flex-wrap: unset;
		flex-direction: unset;
		justify-content: unset;
	}
}
